/*=============== RESET CSS ===============*/
@import "./reset.css";

/*=============== IMPORTAÇÃO DE OUTROS ESTILOS ===============*/
@import "/modules/navbar/navbar.css";
@import "/modules/about/about.css";
@import "/modules/footer/footer.css";
@import "/modules/hero/hero.css";
@import "/modules/featured/featured.css";
@import "/modules/expertises/expertises.css";
@import "/modules/showcase/showcase.css";

/*=============== FONTES DO GOOGLE ===============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*=============== Fonte Padrão ===============*/
body {
  font-family: "Inter", sans-serif;
  background-color: var(--cor-cinza-claro);
}

/*========== container da página ==========*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.section-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

/*========== Tipografia ==========*/
h1 {
  font-size: var(--fonte-tamanho-grande);
  font-weight: var(--fonte-peso-bold);
}

h2 {
  font-size: var(--fonte-tamanho-medio);
  font-weight: var(--fonte-peso-bold);
}

h3 {
  font-size: var(--fonte-tamanho-normal);
  font-weight: var(--fonte-peso-bold);
}

p {
  color: var(--cor-primaria);
  line-height: 1.5rem;
}

.destaque {
  color: var(--cor-complementar);
  font-weight: bold;
}

/*=============== VARIÁVEIS GLOBAIS CSS ===============*/
:root {
  /*========== Pontos de quebra ==========*/
  --desktop-width: 1440px;
  --tablet-width: 1024px;
  --mobile-width: 240px;

  /*========== Cores ==========*/
  /* Modo de cor HSL (matiz, saturação, luminosidade)*/
  --cor-primaria: hsl(90, 31%, 15%);
  --cor-primaria-media: hsl(69, 7%, 37%);
  --cor-primaria-clara: hsl(93, 14%, 84%);
  --cor-complementar: hsl(45, 100%, 50%);
  --cor-branco: hsl(0, 0%, 100%);
  --cor-preto: hsl(0, 0%, 0%);
  --cor-cinza-claro: hsl(0, 0%, 95%);

  /*========== Fonte ==========*/
  /* 0.5rem = 8px | 1rem = 16px  */
  --fonte-primaria: "Inter", sans-serif;
  --fonte-tamanho-grande: 2rem;
  --fonte-tamanho-medio: 1.5rem;
  --fonte-tamanho-normal: 1rem;
  --fonte-tamanho-pequeno: 0.5rem;

  /*========== Peso da Fonte ==========*/
  --fonte-peso-normal: 400;
  --fonte-peso-media: 600;
  --fonte-peso-bold: 700;

  /*========== PARÂMETROS DA TRANSIÇÃO GLOBAL ==========*/
  --transition-duracao: 0.3s;
  --transition-curva: ease-in-out;
}

/*========== TRANSIÇÃO GLOBAL ==========*/
.transition-all {
  transition: all var(--transition-duracao) var(--transition-curva);
  -webkit-transition: all var(--transition-duracao) var(--transition-curva);
  -moz-transition: all var(--transition-duracao) var(--transition-curva);
  -ms-transition: all var(--transition-duracao) var(--transition-curva);
}
