.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background-color: var(--cor-primaria-clara);
  padding: 6rem;
  height: 100%;
}

.about__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: var(--tablet-width);
  gap: 1rem;
}

@media (max-width: 620px) {
  .about {
    padding: 1.5rem;
  }
}
